[submodule "lib/Vector"]
	path = lib/Vector
	url = https://github.com/janelia-arduino/Vector.git
[submodule "lib/Adafruit_ILI9341"]
	path = lib/Adafruit_ILI9341
	url = git@github.com:adafruit/Adafruit_ILI9341.git
[submodule "lib/Adafruit_GFX"]
	path = lib/Adafruit_GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = git@github.com:adafruit/Adafruit_BusIO.git
