[submodule "test/external/UnitTestLib"]
	path = test/external/UnitTestLib
	url = git@github.com:supermileage/Particle-UnitTestLib.git
[submodule "test/external/Catch2"]
	path = test/external/Catch2
	url = git@github.com:catchorg/Catch2.git
    branch = v2.x
